<body>
 
  <nav>   
      <img src="imagenes/image1.jpg " width="50" height="50">
      <div id="contenedor">

        <a href="./registro" class="navi" target="_self">Crear cuenta</a>
        |
        <a href="./login" class="navi" target="_self">Iniciar sesión</a>
      </div>     

  </nav>
  <main>
      <div id="contenedor" >
  <div class="contenA">
    <h1 id="titulo">Acerca de nosotros</h1>
    <p class="Textual">
      Los integrantes del grupo son:
    </p>
    <br>
    <p class="Textual">
      Joe Javier de la Cruz Paredes
      <img class="fotos" src="imagenes/delacruz.jpeg" width="60px" height="60px">
    </p>
    <br>
    <p class="Textual">
      Tom Bryan Cruz Bravo 
      <img class="fotos" src="imagenes/tomcruz.jpeg" width="60px" height="60px">
    </p>
    <br>
    <p class="Textual">
      Iver Castro Rivera
      <img class="fotos" src="imagenes/ivercastro.jpeg" width="60px" height="60px">
    </p>
    <br>
    <p class="Textual">
      David Gustavo Chavez Barco
      <img class="fotos" src="imagenes/chavezbarco.jpeg" width="60px" height="60px">`
    </p>
    <br>
    <p class="Textual">
      Ricardo Junior Suyón Alvarez
      <img class="fotos" src="imagenes/suyon.jpeg" width="60px" height="60px">`
    </p>


  </div>
      </div>
     
  </main>
  <footer>
       Derechos Reservados &copy; 2021-1
       <div id="pie">
        <a href="https://m.facebook.com/" target="_blank">
        
          <img src="imagenes/facebook.png" width="50" height="50">
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <img src="imagenes/inst.png" width="50" height="50">
        </a>
        <a href="https://www.whatsapp.com/" target="_blank">
          <img src="imagenes/wsp.png" width="50" height="50">
      </a>
    </div>
  </footer>
</body>

<footer>
    
   
  Derechos Reservados &copy; 2021-1
  <div id="pie">
   <a href="https://m.facebook.com/" target="_blank">
   
     <img src="imagenes/facebook.png" width="50" height="50">
   </a>
   <a href="https://www.instagram.com/" target="_blank">
     <img src="imagenes/inst.png" width="50" height="50">
   </a>
   <a href="https://www.whatsapp.com/" target="_blank">
     <img src="imagenes/wsp.png" width="50" height="50">
 </a>
</div>
&copy; Iver Castro Rivera / <%= new Date();%>

</footer>