<!DOCTYPE html>

<body>
    <header>
      <link rel="stylesheet" href="css/estilobiblioteca.css" type="text/css" />
    </header>
    
    <nav>   
        <img class="lapiz" src="imagenes/image1.jpg " width="50" height="50"> 
    </nav>
    <main>
           
        <div class="container">
            <div class="formulario">
              <form action="#" class="border p-3 form">
                <div class="biblioteca">
                    <h1>Biblioteca General</h1>    
                    <img src="imagenes/lapiz.jpg" width="300" height="300">      
                </div>
                <table class="default">

                    <tr>
                      
                      <td><img class="lapiz" src="imagenes/math.jpg " width="200" height="200"></td>
                  
                      <td><img class="lapiz" src="imagenes/historia.jpg " width="200" height="200"></td>
                  
                      <td><img class="lapiz" src="imagenes/compu.jpg " width="200" height="200"></td>
                  
                    </tr>
                  
                    <tr>
                  
                      <td><a href="./matematicas" target="_self">Matemáticas</a></td>
                  
                      <td><a href="./historia" target="_self">Historia</a></td>
                  
                      <td><a href="./computacion" target="_self">Computación</a></td>
                  
                    </tr>

                    <tr>
                  
                        <td><img class="lapiz" src="imagenes/biologia.jpg " width="200" height="200"></td>
                    
                        <td><img class="lapiz" src="imagenes/quimica.jpg " width="200" height="200"></td>
                    
                        <td><img class="lapiz" src="imagenes/ingles.jpg " width="200" height="200"></td>
                    
                      </tr>
                    
                      <tr>
                    
                        <td><a href="./biologia" target="_self">Biología</a></td>
                    
                        <td><a href="./quimica" target="_self">Quimica</a></td>
                    
                        <td><a href="./ingles" target="_self">Ingles</a></td>
                    
                      </tr>
                  
                  </table>
              </form>
            </div>
          </div>
       
    </main>
    <footer>
         Derechos Reservados &copy; 2021-1
         <div id="pie">
          <a href="https://m.facebook.com/" target="_blank">
          
            <img src="imagenes/facebook.png" width="50" height="50">
          </a>
          <a href="https://www.instagram.com/" target="_blank">
            <img src="imagenes/inst.png" width="50" height="50">
          </a>
          <a href="https://www.whatsapp.com/" target="_blank">
            <img src="imagenes/wsp.png" width="50" height="50">
          </a>
        </div>  
    </footer>
</body>


</html>