<!DOCTYPE html>


    <nav>   
        <img src="imagenes/image1.jpg" width="50" height="50">
        <div id="contenedor">
          <a href="./registro" class="navi" target="_self">Crear cuenta </a>
          |
          <a href="./login" class="navi" target="_self">Iniciar sesión</a>
        </div>
      

    </nav>
    <main>
        <div>
            <h3> Ingresa tu correo electrónico o número de celular para buscar tu cuenta.</h3>
            <input type="text" id="codigo_sala" class="form-control" name="codigo-sala" placeholder="Ingresa correo electrónico o celular">
            <p></p>
            <button type="submit" class="btn btn-primary w-100">Buscar</button>    
        </div>
       
    </main>
    <footer>
         Derechos Reservados &copy; 2021-1
         <div id="pie">
          <a href="https://m.facebook.com/" target="_blank">
          
            <img src="imagenes/facebook.png" width="50" height="50">
          </a>
          <a href="https://www.instagram.com/" target="_blank">
            <img src="imagenes/inst.png" width="50" height="50">
          </a>
          <a href="https://www.whatsapp.com/" target="_blank">
            <img src="imagenes/wsp.png" width="50" height="50">
          </a>
        </div>  
    </footer>
</body>


</html>