<!DOCTYPE html>
<head>
    <title>Pencil&Paer</title>
    <meta charset="UTF-8" />
    <meta name= "description" content="WebApp de Reuniones para facilitar la Educacion Virtual"/>
    <meta name="keywords" content="programacion, web, html, ulima,educacion"/>
    <link rel="icon" href="paper.ico" type="image/vnd.microsoft.icon" size="32x32" />
    <link rel="stylesheet" href="css/estilohome.css" type="text/css" />

</head>
<body>  
    <div class="container center-align">
        <h1>Oops!!</h1>
        <h1>404 - PAGE NOT FOUND</h1>
    </div>


</body>

</html>
<footer>
    
   
    Derechos Reservados &copy; 2021-1
    <div id="pie">
     <a href="https://m.facebook.com/" target="_blank">
     
       <img src="imagenes/facebook.png" width="50" height="50">
     </a>
     <a href="https://www.instagram.com/" target="_blank">
       <img src="imagenes/inst.png" width="50" height="50">
     </a>
     <a href="https://www.whatsapp.com/" target="_blank">
       <img src="imagenes/wsp.png" width="50" height="50">
   </a>
 </div>
 &copy; Iver Castro Rivera / <%= new Date();%>

</footer>