<!DOCTYPE html>
<head>
    <title>Pencil and Paper</title>
    <meta charset="UTF-8" />
    <meta name= "description" content="WebApp de Reuniones para facilitar la Educacion Virtual"/>
    <meta name="keywords" content="programacion, web, html, ulima,educacion"/>
    <link rel="icon" href="paper.ico" type="image/vnd.microsoft.icon" size="32x32" />
    <link rel="stylesheet" href="css/estiloregistro.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    
    <nav>   
        <img src="imagenes/image1.jpg" width="50" height="50">
        <div id="contenedor">
          <a href="./registro" class="navi" target="_self">Crear cuenta </a>
          |
          <a href="./login" class="navi" target="_self">Iniciar sesi칩n</a>
        </div>
      

    </nav>
    
    <main>
      
      <div class="container">
          <div class="formulario">
            <form action="agregar" class="border p-3 form" method="POST">
            
              <div class="form-group">
                  <img src="imagenes/lapiz.jpg" width="200" height="200">
                  <h1>Pencil and Paper</h1>
              </div>
              
              <div class="form-group p-1">
                  <input type="text" id="full_name" class="form-control" name="nombre" placeholder="Nombre completo">
                  <input type="text" id="email_address" class="form-control" name="email" placeholder="Correo electronico" required>
                  <input class="form-control" type="password" id="password" name="contra" placeholder="Ingresa tu contrase침a" required>
                  <input class="form-control" type="password" id="password" name="repetirContra" placeholder="Repite tu contrase침a" required>
                  <input type="text" id="phone_number" class="form-control" name="telefono" placeholder="Numero telef칩nico" required>
              </div>
              <button type="submit" class="btn btn-success w-100" >Registrarse</button>
            
            </form>
          </div>
        </div>
   
  </main>
    
    <footer>
         Derechos Reservados &copy; 2021-1
         <div id="pie">
          <a href="https://m.facebook.com/" target="_blank">
          
            <img src="imagenes/facebook.png" width="50" height="50">
          </a>
          <a href="https://www.instagram.com/" target="_blank">
            <img src="imagenes/inst.png" width="50" height="50">
          </a>
          <a href="https://www.whatsapp.com/" target="_blank">
            <img src="imagenes/wsp.png" width="50" height="50">
          </a>
        </div>  
    </footer>
</body>


</html>
<footer>
    
   
  Derechos Reservados &copy; 2021-1
  <div id="pie">
   <a href="https://m.facebook.com/" target="_blank">
   
     <img src="imagenes/facebook.png" width="50" height="50">
   </a>
   <a href="https://www.instagram.com/" target="_blank">
     <img src="imagenes/inst.png" width="50" height="50">
   </a>
   <a href="https://www.whatsapp.com/" target="_blank">
     <img src="imagenes/wsp.png" width="50" height="50">
 </a>
</div>
&copy; Iver Castro Rivera / <%= new Date();%>

</footer>